<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include ('partials/head.ejs')%>
    <title><%=title%></title>
</head>
<body>
    <%- include ('partials/navigation')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam accusamus nostrum, consequatur saepe alias delectus minima similique minus velit, earum expedita, consectetur possimus! Earum non illum dolor consequatur ut nesciunt eum corrupti fuga ullam repellendus autem atque eveniet, voluptates nostrum quidem distinctio voluptas officia illo dolores inventore beatae modi? Laborum, deserunt! Temporibus earum deleniti molestiae corrupti, magnam voluptate magni repudiandae, atque consequuntur fugiat soluta minima, laborum voluptatibus? Dolorem, suscipit distinctio, eum repellat at tempore sapiente officia pariatur assumenda atque ipsam dicta velit quidem aliquam? Dolores, corrupti! Cum ad, ipsum repellendus veniam, neque sint optio, aperiam debitis quibusdam laboriosam iste beatae blanditiis quas? Tenetur nisi amet, doloremque impedit accusamus quia, totam quos magni et necessitatibus dicta, temporibus consequatur molestias voluptates maiores nemo asperiores reiciendis natus facere voluptatem perspiciatis expedita hic. Tempore labore aspernatur in quaerat fugit natus nobis. Accusamus maxime eos quos sed ea error maiores excepturi veritatis molestias porro at, sint alias omnis assumenda, consequuntur optio nulla vel suscipit deleniti quam. Beatae obcaecati quod blanditiis temporibus, sed perferendis incidunt magni ipsum voluptatem quasi natus possimus deserunt doloremque! Repellendus, voluptate voluptates dolores minus quo repudiandae dignissimos perferendis cum quam ullam assumenda rerum asperiores, magnam eos ipsa officiis enim beatae sit cupiditate.</p>
        </section>
    </main>
    <%- include ('partials/footer')%>
</body>
</html>